{% extends 'base.html.twig' %}
{% block title %}
    Suppression de {{ contact.firstname }} {{ contact.lastname }}
{% endblock %}

{% block body %}
    <h1>Suppression de {{ contact.firstname }} {{ contact.lastname }}</h1>
{% endblock %}