{% extends 'base.html.twig' %}
{% block title %}
  Editon de {{contact.firstname }} {{contact.lastname }}
{% endblock %}

{% block body %}
    <h1>Editon de {{ contact.firstname }} {{ contact.lastname }}</h1>
{% endblock %}