{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
<ul>
    <a href="{{ path('app_hello_manytimes',{'name':'Joe','times':5}) }}"><li>Hello Joe x 5</li></a>
    <a href="{{ url('app_hello_manytimes',{'name':'Bob','times':8}) }}"><li>Hello Bob x 8</li></a>
</ul>
{% endblock %}