{% extends 'base.html.twig'%}

  {% block title %}Hello {{ name | capitalize}}!{% endblock %}
{% block body %}
  {% set color = ['green','red'] %}
  {% for i in 1..10 %}
    <p style="color: {{ cycle(color,i) }}">Hello {{ name | capitalize }} ! ({{ i }})</p>
  {% endfor %}
{% endblock %}
